.row-rentalinfo{
    margin: 30px 100px;
}

.row-title-host{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
}

.w-title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lodging-title{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 36px;
}

.lodging-location{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
}

.w-host{
    display: flex;
    gap: 15px;
}

.host-name{
    width : min-content;
    text-align: right
}

.host-name{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
}

.host-picture{
    width: 64px;
    height: 64px;
    border-radius: 100%;
    object-fit: cover;
}

.row-tags-rating{
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
}

.w-tags{
    display: flex;
}

.tagsList{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.tags{
    font-family: 'Montserrat';
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    padding: 0px 15px;
    border-radius: 10px;
    min-width: 115px;
    color: #F6F6F6;
}

.row-description-facilities{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 96px;
}

.w-description{
    flex: 1;
    width: 582px;
}

.w-facilities{
    list-style-type: none;
    padding: 0;
    flex: 1;
    width: 582px;
}
